*{box-sizing: border-box;}

.container-fluid1{
    color:white;
}


.letras-carrusel{color:white}

.video1{
    height: 200px;
}

.video2{
    height: 200px;
}

.video3{
    height: 200px;
}